<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OSMaker.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MetroFramework" publicKeyToken="5f91a84759bf584a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.3" newVersion="1.2.0.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <OSMaker.My.MySettings>
      <setting name="Ouvrir_Page_De_Démarrage" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Autoriser_Envoyer_Informations" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Ecran_Demarrage" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Emplacement_Project_Par_Defaut" serializeAs="String">
        <value />
      </setting>
      <setting name="Société" serializeAs="String">
        <value />
      </setting>
      <setting name="Réduire_Panneau_Lateral_WindowsDesigner" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Suivre_Souris_Regle" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Afficher_La_Griller" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Smart_Tags" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Aimentation_Intelligente" serializeAs="String">
        <value>False</value>
      </setting>
    </OSMaker.My.MySettings>
  </userSettings>
</configuration>
